/* src/components/Projects/Projects.css */

/* Importing variables.css */
@import "../../../src/Assets/variables.css";
@import "../../../src/Assets/fonts/fonts.css";

.projects-section {
    margin-top: 150px;
    background-color: #0e0d0d;
    padding: 50px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}


.subheader-title{
    font-family: "MediaSans", sans-serif;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    bottom: 20px;
    color: var(--primary-color);
}


.project {
    width: 100%;
    padding-top: 57.25%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.project-overlay {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.project:hover .project-overlay {
    opacity: 1;
}


.project:hover {
    border:1px solid var(--text-color);
    /* transform: scale(1.05); */
}


.project-title {
    font-family: "MediaSans", sans-serif;
    font-size: 3em;
    color: var(--primary-color);
    margin-bottom: 0;
    letter-spacing: 2px;
}

.project-description {
    font-family: "Exo", sans-serif;
    font-size: 1.1em;
    color: var(--primary-color);
    line-height: 1.2em;
    letter-spacing: 1px;
}

.project-link {
    font-family: "Exo", sans-serif;
    font-size: 1.1em;
    margin-bottom: 10px;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -ms-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
    cursor: pointer;
}

.project-tech {
    font-size: 1em;
    margin-top: 10px;
    color: #ffffff;
}