/* Importing variables.css */
@import "../../../src/Assets/variables.css";
@import "../../../src/Assets/fonts/fonts.css";


.subheader-title{
    font-family: "MediaSans", sans-serif;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    bottom: 20px;
    color: var(--text-color,  #000000);
}
