
/* Importing variables.css */
@import "../../../src/Assets/variables.css";
@import "../../../src/Assets/fonts/fonts.css";


.footer {
    background-color: #0e0d0d;
    color: var(--primary-color);
    padding: 20px;
    height: 200px;
    text-align: center;
}

.footer-social-icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-social-icons a {
    margin: 10px;
    color: var(--primary-color);
    font-size: 1.6em;
    transition: color 0.3s ease;
}

.footer-social-icons a:hover {
    cursor: pointer;
}

p {
    font-family: Exo, sans-serif;
    font-size: 1.5em;
    margin: 0;
}
